<!DOCTYPE html>
<html>
  <head>
    <title>EstudiaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid" id="container-fluid-grid">
        <nav class="navbar navbar-expand-lg" id="navbar-primaria" style="background-color:#179FFF">
            <div class="row align-items-center row-nav" >
                  <div class="col-1-sm justify-content-center">
                  <a class="navbar-brand" href="/">
                    <%= image_tag("estudia-logo.png", id: "logo", alt: "logo" )%></a>
                  </div>
                    <div class="col-sm center-block">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarText">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link  button-border btn btn-primary button-space" href="#" role="button" id= "color_lessons">LESSONS <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link button-border btn btn-primary button-space" href="#" role="button" id= "color_tests">TESTS</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link button-border btn btn-primary " href="#" role="button" id= "color_classroom">CLASSROOM</a>
                        </li>
                      </ul>
                        </div>
                          </div>
                        <div class="col-1-sm">
                          <% if user_signed_in? %>
                          <%= link_to current_user.email, edit_user_registration_path , class: "nav-link btn btn-primary"%></li>
                          <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "nav-link btn btn-primary" %></li>
                          <% else %>
                          <%= link_to "Login", new_user_session_path, class: " button-border btn btn-primary btn-border" %>
                          <%= link_to "Sign Up", new_user_registration_path, class: " button-border btn btn-primary ", id:"color_sign_up" %>
                          <% end %>
                          </div>
                  </div>
            </div>
        </nav>
    <!-- <div class="center-sign">
    <% if user_signed_in? %>
 <li><%= link_to current_user.email, edit_user_registration_path %></li>
 <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
 <li><%= link_to "Sign Up", new_user_registration_path %></li>
 <li><%= link_to "Login", new_user_session_path %></li>
<% end %>
</div -->
    <%= yield %>
  </body>
</html>
